{% extends "base.html" %} {% block content %}

<br><br><br>
<div class="main">
  <br><br><br><br><br>
  <div class="row">
    <div class="column">
      <div align="center">
	<img src="static/leukoright.png" alt="logo" width="200">
      </div>
    </div>

    <div class="column">
      <div align="center">
        <div class="panel">
          <br>
          <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
          <label for="file-upload" id="file-drag" class="upload-box">
          <br><br>
	  <div id="upload-caption"><br>Drop image here or click to select </div>
            <img id="image-preview" class="hidden" />
            <div id="image-box">
              <img id="image-display" />
              <div id="pred-result" class="hidden"></div>
              <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
                <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
              </svg>
            </div> 
        </div>
          </label>
        </div>
      </div>

      <div style="margin-bottom: 2rem;">
	<div align="center">
          <input type="button" value="Submit" class="aligncenter button" onclick="submitImage();" />
          <input type="button" value="Clear" class="aligncenter button" onclick="clearImage();" />
	</div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
